<!--most of the styles for elements listed here are used in all of the pages of our website-->

<!--main html style-->
#html {
    position:absolute;
    height:100%;
    width:100%;
}

<!--styles for header-->
#header {
    width: 100%;
    background-color:black;
    color:white;
    text-align:center;
    height: 93px;
    padding:5px;
    margin:0;
    float: left;
    font-family: impact;
    font-size: 150%;
 }

<!--styles for navigation bar-->
#nav {
    position:absolute;
    line-height:35px;
    background-color:#eeeeee;
    height:100%;
    width:100px;
    float: left;
    padding:10px;
    top:103px;
    z-index: 0;
    text-decoration: none;
    font-weight: bold;
    font-family: impact;
 }
a:visited {color:#088A85}

<!--styles for a specific section, or box, used in some pages-->
#section {
    position: absolute;
    <!--height: 100px;-->
    width: 600px;
    top: 120px;
    left: 450px;
    <!--margin:0;-->
    <!--float:left;-->
}

<!--styles for the footer-->
#footer {
    width:100%;
    height:40px;
    position:fixed;
    bottom:0;
    left:0;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    z-index: 1;
    font-family: impact;
}

<!--styles for the main body-->
body {
    margin-left:0px;
    margin-top:0px;
}

<!--styles for a question box we may choose to add in the future-->
#question {
    position: fixed;
    top: 500px;
    left: 190px;
    width: 400px;
    background-color: #CCFFFF;
    padding: 10px;
    width 400px;
}

<!--#calendar {
    position: fixed;
    height:auto;
    width:300px;
    top: 150px;
    left: 170px;
}-->

<!-- styles for another section box-->
#section2 {
    position: fixed;
    height: 600px;
    width: 100%;
    top: 150px;
    left: 150px;
}

<!--styles for another section box-->
#section3 {
    margin: 20px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px; 
    width: 500px;
}

<!--syles for the box that displays resources, used in the resources page-->
#resourceBox {
    position fixed;
    top: 190px;
    left: 190px; 
    width: 600px;
    background-color: #CCFFFF;
    padding: 10px;
    line-height: 2;
    font size: 10;
}

<!--code to position the picture in the resources page correctly on the right hand side of the window-->
img.pos_fixed {
    float: right;
}

img.pos_clear {
    clear: both;
    float: right;
}

resourceBox.pos_fixed {
    position: fixed;
    top: 30px;
    right: 5px;
}